


                <div class="fieldWrapper">
       <span class="required">{{ form.destination.errors }}</span>
		<label for="id_destination"> 
<span class="align-field">Select Destination:</span><span class="required">*</span></label>
	<span class="select-field">{{ form.destination }}</span>
    			</div>
			
    		<div class="fieldWrapper">
       <span class="required">{{ form.full_name.errors }}</span>
		<label for="id_full_name"> 
<span class="align-field">Your Full Name:</span><span class="required">*</span></label>
	<span class="align-field">{{ form.full_name }}</span>
    			</div>

    		<div class="fieldWrapper">
    <span class="required">{{ form.phone_number.errors }}</span>
		<label for="id_phone_number"> 
<span class="align-field">Phone Number:</span><span class="required">*</span></label>
        	 {{ form.phone_number }} 
    			</div>
    			
    	        <div class="fieldWrapper">
       <span class="required">{{ form.id_number.errors }}</span>
		<label for="id_id_number"> 
<span class="align-field">Id/Passport Number:</span><span class="required">*</span></label>
	<span class="align-field">{{ form.id_number}}</span>
    			</div>

    		<div class="fieldWrapper">
    <span class="required">{{ form.adults.errors }}</span>
		<label for="id_adults"> 
<span class="align-field">No. of Adults:</span><span class="required">*</span></label>
         <span class="align-field">{{ form.adults}}</span>
        	 
    			</div>
    			
    	        <div class="fieldWrapper">
    <span class="required">{{ form.checkin_date.errors }}</span>
		<label for="id_checkin_date"> 
<span class="align-field">Checkin Date:</span><span class="required">*</span></label>
        <span class="align-field">{{ form.checkin_date}}</span>
    			</div>
    			
                <div class="fieldWrapper">
    <span class="required">{{ form.checkout_date.errors }}</span>
		<label for="id_checkout_date"> 
<span class="align-field">Checkout Date:</span><span class="required">*</span></label>
        <span class="align-field">{{ form.checkout_date}}</span>
    			</div>
    			
                <div class="fieldWrapper">
    <span class="required">{{ form.special_request.errors }}</span>
		<label for="id_special_request"> 
<span class="align-field">Special Request:</span></label>
        <span class="align-field">{{ form.special_request}}</span> 
    			</div>

