			 {% extends 'desktop_core.html' %}
                          
                          	{% block nav %}
               		   <div class="nav center">
               
       		<ul>
	
		<li><a href="/accounts/index/">Home</a></li>
		<li class="current"><a href="/places/destination/">Places</a></li>
		<li><a href="/accounts/faqs/">FAQs</a></li>
	
	
      		</ul>
   	    </div>
                   		{% endblock %}
                   		
                   	      {% block content %}
                  <div class="wide-section spaced">
                  
                     <div class="simple-title"> Booking </div>
                       
                       {% if messages %}
                  {% for message in messages %}
      <div class="message  {% if message.tags %} message_{{ message.tags }}{% else %}message_info{% endif %}">
   <span class="msg-text global_styles">{{ message }}</span>
      </div>
                        {% endfor %}
                         {% endif %}

                   <div class="form-spacing">
  
       <form   action="." method="post" >{% csrf_token %}

                  {{form.non_field_errors }}

                        <fieldset>

                {% include "booking_base.html" %}

  <input class="button" name="post" value="Submit" type="submit"/>

                        </fieldset>
                      </form>
                      </div>
                    </div>
                   	        {% endblock %}
