/* OBJECT TOOLS ICONS */

.loading-item, .add-item, .addressbook-item, .agent-item, .apple-item, 
.arrow-round-item, .badge-item, .bar-chart-item, .bar-chart-02-item,
.battery-full-item, .bird-item, .boat-item, .bookmark-item, .briefcase-item,
.calculator-item, .calendar-item, .cassete-item, .chain-item, .chat-item,
.chat-02-item, .cloud-filled-item, .cloud-outline-item, .computer-item,
.configuration-item, .counfiguration-02-item, .connected-item, .connections-item,
.container-item, .copy-item, .database-item, .delete-item, .disc-item, 
.dollar-item, .download-item, .edit-item, .email-item, .fan-item, .fancy-globe-item,
.female-user-item, .fire-item, .first-aid-item, .flag-item, .flower-item,
.full-screen-item, .glasses-item, .globe-item, .happy-face-item, .headphone-item,
.heart-item, .home-item, .id-item, .ipod-item, .lab-item, .lady-item,
.lamp-item, .leaves-item, .light-item, .line-globe-item, .lock-item, .lookup-item,
.male-user-item, .microphone-item, .mobile-item, .mobile-02-item, .mouse-item,
.multi-agents-item, .music-node-item, .network-item, .next-item, .phone-item,
.pie-chart-item, .pin-item, .plane-item, .print-item, .processing-item,
.processing-02-item, .push-pin-item, .recycle-empty-item, .recycle-full-item,
.reload-item, .rss-item, .satellite-item, .save-item, .scissors-item,
.screen-item, .search-item, .server-item, .shield-item, .shut-down-item,
.star-item, .tag-item, .tap-item, .tree-item, .umbrella-item, .unlock-item,

.loading-item {
background: url('../img/ajax-loader.gif') 4px 4px no-repeat transparent;
}

.add-item {
background: url('../img/gcons/add-item.png') 0px 0px no-repeat;
}

.addressbook-item {
background: url('../img/gcons/addressbook.png') 0px 0px no-repeat;
}

.agent-item {
background: url('../img/gcons/agent.png') 0px 0px no-repeat;
}

.apple-item {
background: url('../img/gcons/apple.png') 0px 0px no-repeat;
}

.arrow-round-item {
background: url('../img/gcons/arrow-round.png') 0px 0px no-repeat;
}

.badge-item {
background: url('../img/gcons/badge.png') 0px 0px no-repeat;
}

.bar-chart-item {
background: url('../img/gcons/bar-chart.png') 0px 0px no-repeat;
}

.bar-chart-02-item {
background: url('../img/gcons/bar-chart-02.png') 0px 0px no-repeat;
}

.battery-full-item {
background: url('../img/gcons/battery-full.png') 0px 0px no-repeat;
}

.bird-item {
background: url('../img/gcons/bird.png') 0px 0px no-repeat;
}

.boat-item {
background: url('../img/gcons/boat.png') 0px 0px no-repeat;
}

.bookmark-item {
background: url('../img/gcons/bookmark.png') 0px 0px no-repeat;
}

.briefcase-item {
background: url('../img/gcons/briefcase.png') 0px 0px no-repeat;
}

.calculator-item {
background: url('../img/gcons/calculator.png') 0px 0px no-repeat;
}

.calendar-item {
background: url('../img/gcons/calendar.png') 0px 0px no-repeat;
}

.cassete-item {
background: url('../img/gcons/cassete.png') 0px 0px no-repeat;
}

.chain-item {
background: url('../img/gcons/chain.png') 0px 0px no-repeat;
}

.chat-item {
background: url('../img/gcons/chat.png') 0px 0px no-repeat;
}

.chat-02-item {
	background: url('../img/gcons/chat-02.png') 0px 0px no-repeat;
}

.cloud-filled-item {
	background: url('../img/gcons/cloud-filled.png') 0px 0px no-repeat;
}

.cloud-outline-item {
	background: url('../img/gcons/cloud-outline.png') 0px 0px no-repeat;
}

.computer-item {
	background: url('../img/gcons/computer.png') 0px 0px no-repeat;
}

.configuration-item {
	background: url('../img/gcons/configuration.png') 0px 0px no-repeat;
}

.configuration-02-item {
	background: url('../img/gcons/configuration-02.png') 0px 0px no-repeat;
}

.connected-item {
	background: url('../img/gcons/connected.png') 0px 0px no-repeat;
}

.connections-item {
	background: url('../img/gcons/connections.png') 0px 0px no-repeat;
}

.container-item {
	background: url('../img/gcons/container.png') 0px 0px no-repeat;
}

.copy-item {
	background: url('../img/gcons/copy-item.png') 0px 0px no-repeat;
}

.database-item {
	background: url('../img/gcons/database.png') 0px 0px no-repeat;
}

.delete-item {
	background: url('../img/gcons/delete-item.png') 0px 0px no-repeat;
}

.disc-item {
	background: url('../img/gcons/disc.png') 0px 0px no-repeat;
}

.dollar-item {
	background: url('../img/gcons/dollar.png') 0px 0px no-repeat;
}

.download-item {
	background: url('../img/gcons/download.png') 0px 0px no-repeat;
}

.edit-item {
	background: url('../img/gcons/edit.png') 0px 0px no-repeat;
}

.email-item {
	background: url('../img/gcons/email.png') 0px 0px no-repeat;
}

.fan-item {
	background: url('../img/gcons/fan.png') 0px 0px no-repeat;
}

.fancy-globe-item {
	background: url('../img/gcons/fancy-globe.png') 0px 0px no-repeat;
}

.female-user-item {
	background: url('../img/gcons/female-user.png') 0px 0px no-repeat;
}

.fire-item {
	background: url('../img/gcons/fire.png') 0px 0px no-repeat;
}

.first-aid-item {
	background: url('../img/gcons/first-aid.png') 0px 0px no-repeat;
}

.flag-item {
	background: url('../img/gcons/flag.png') 0px 0px no-repeat;
}

.flower-item {
	background: url('../img/gcons/flower.png') 0px 0px no-repeat;
}

.full-screen-item {
	background: url('../img/gcons/full-screen.png') 0px 0px no-repeat;
}

.glasses-item {
	background: url('../img/gcons/glasses.png') 0px 0px no-repeat;
}

.globe-item {
	background: url('../img/gcons/globe.png') 0px 0px no-repeat;
}

.happy-face-item {
	background: url('../img/gcons/happy-face.png') 0px 0px no-repeat;
}

.headphone-item {
	background: url('../img/gcons/headphone.png') 0px 0px no-repeat;
}

.heart-item {
	background: url('../img/gcons/heart.png') 0px 0px no-repeat;
}

.home-item {
	background: url('../img/gcons/home.png') 0px 0px no-repeat;
}

.id-item {
	background: url('../img/gcons/ID.png') 0px 0px no-repeat;
}

.ipod-item {
	background: url('../img/gcons/ipod.png') 0px 0px no-repeat;
}

.lab-item {
	background: url('../img/gcons/lab.png') 0px 0px no-repeat;
}

.lady-item {
	background: url('../img/gcons/lady.png') 0px 0px no-repeat;
}

.lamp-item {
	background: url('../img/gcons/lamp.png') 0px 0px no-repeat;
}

.leaves-item {
	background: url('../img/gcons/light.png') 0px 0px no-repeat;
}

.line-globe-item {
	background: url('../img/gcons/line-globe.png') 0px 0px no-repeat;
}

.lock-item {
	background: url('../img/gcons/lock.png') 0px 0px no-repeat;
}

.lookup-item {
	background: url('../img/gcons/lookup.png') 0px 0px no-repeat;
}

.male-user-item {
	background: url('../img/gcons/male-user.png') 0px 0px no-repeat;
}

.microphone-item {
	background: url('../img/gcons/microphone.png') 0px 0px no-repeat;
}

.mobile-item {
	background: url('../img/gcons/mobile.png') 0px 0px no-repeat;
}

.mobile-02-item {
	background: url('../img/gcons/mobile-02.png') 0px 0px no-repeat;
}

.mouse-item {
	background: url('../img/gcons/mouse.png') 0px 0px no-repeat;
}

.multi-agents-item {
	background: url('../img/gcons/multi-agents.png') 0px 0px no-repeat;
}

.multi-node-item {
	background: url('../img/gcons/multi-node.png') 0px 0px no-repeat;
}

.network-item {
	background: url('../img/gcons/network.png') 0px 0px no-repeat;
}

.network-pc-item {
	background: url('../img/gcons/network-pc.png') 0px 0px no-repeat;
}

.next-item {
	background: url('../img/gcons/next-item.png') 0px 0px no-repeat;
}

.phone-item {
	background: url('../img/gcons/phone.png') 0px 0px no-repeat;
}

.pie-chart-item {
	background: url('../img/gcons/pie-chart.png') 0px 0px no-repeat;
}

.pin-item {
	background: url('../img/gcons/pin.png') 0px 0px no-repeat;
}

.plane-item {
	background: url('../img/gcons/plane.png') 0px 0px no-repeat;
}

.print-item {
	background: url('../img/gcons/print.png') 0px 0px no-repeat;
}

.processing-item {
	background: url('../img/gcons/processing.png') 0px 0px no-repeat;
}

.processing-02-item {
	background: url('../img/gcons/processing-02.png') 0px 0px no-repeat;
}

.push-pin-item {
	background: url('../img/gcons/push-pin.png') 0px 0px no-repeat;
}

.recycle-empty-item {
	background: url('../img/gcons/recycle-empty.png') 0px 0px no-repeat;
}

.recycle-full-item {
	background: url('../img/gcons/recycle-full.png') 0px 0px no-repeat;
}

.reload-item {
	background: url('../img/gcons/reload.png') 0px 0px no-repeat;
}

.rss-item {
	background: url('../img/gcons/rss.png') 0px 0px no-repeat;
}

.satellite-item {
	background: url('../img/gcons/satellite.png') 0px 0px no-repeat;
}

.save-item {
	background: url('../img/gcons/save.png') 0px 0px no-repeat;
}

.scale-item {
	background: url('../img/gcons/scale.png') 0px 0px no-repeat;
}

.scissors-item {
	background: url('../img/gcons/scissors.png') 0px 0px no-repeat;
}

.screen-item {
	background: url('../img/gcons/screen.png') 0px 0px no-repeat;
}

.search-item {
	background: url('../img/gcons/search.png') 0px 0px no-repeat;
}

.server-item {
	background: url('../img/gcons/server.png') 0px 0px no-repeat;
}

.shield-item {
	background: url('../img/gcons/shield.png') 0px 0px no-repeat;
}

.shut-down-item {
	background: url('../img/gcons/shut-down.png') 0px 0px no-repeat;
}

.star-item {
	background: url('../img/gcons/star.png') 0px 0px no-repeat;
}

.tag-item {
	background: url('../img/gcons/tag.png') 0px 0px no-repeat;
}

.tap-item {
	background: url('../img/gcons/tap.png') 0px 0px no-repeat;
}

.tree-item {
	background: url('../img/gcons/tree.png') 0px 0px no-repeat;
}

.umbrella-item {
	background: url('../img/gcons/umbrella.png') 0px 0px no-repeat;
}

.unlock-item {
	background: url('../img/gcons/unlock.png') 0px 0px no-repeat;
}

.usb-item {
	background: url('../img/gcons/usb.png') 0px 0px no-repeat;
}

.van-item {
	background: url('../img/gcons/van.png') 0px 0px no-repeat;
}

.wifi-item {
	background: url('../img/gcons/wifi.png') 0px 0px no-repeat;
}

.world-item {
	background: url('../img/gcons/world.png') 0px 0px no-repeat;
}
