                        {% extends 'desktop_core.html' %}
                              {% load core_tags %} 
                          
                          	{% block nav %}
               		   <div class="nav center">
               
       		<ul>
	
		<li class="current"><a href="/accounts/index/">Home</a></li>
		<li><a href="/places/destination/">Places</a></li>
		<li><a href="/accounts/faqs/">FAQs</a></li>
	
	
      		</ul>
   	</div>
                   		{% endblock %}
                   		
                   		
                   		{% block content %}
                   		
                     
                    
                                 {% if about_list %}
                           
                              {% for about in about_list %}
                             <div class="wide-section spaced">
                             
                             <div class="image">
                      <img class="main-Img home"  src ="{{about.main_photo.url}}" />
                            <br/>
                   
                              <h2>		
                   <div class="overlay-title">What We Do </div>
                
                        <div class="overlay-paragraph">
                       {{about.what_we_do|safe|linebreaks}}
                           </div>
                            </h2>
                                 </div>
                              
                           
                  <div class="simple-title">Who We Are </div>
                
                         <div class="paragraph">
                         {{about.who_we_are|safe}}
                           </div>
                           
 
                          
                           
                 <div class="simple-title">Our Unique Packages </div>
                
                         
              <div class="paragraph">{{about.how_it_works|safe|linebreaks}}</div
                          
                      
                        {% for otherpackage in "packages.otherpackage"|latest:15 %}
                        <div class="paragraph">
                      <p>
  <a class="package-title" href="{% url 'package_details' otherpackage.pk %}">{{ otherpackage.name|safe|title }}</a>
                      </p>
                      
                    <p>{{ otherpackage.overview|safe|linebreaks }}<p>
                    
                      
                         </div>
                       
                       {% endfor %}
                          
     
             
                          {% endfor %}
       
                             
                            {% endif %}
      
      
 <a class="subscribe-btn" href="/places/destination/">View Places </a>
 
                              
                              </div> 
                   		  {% endblock %}
                   		  
                   		  
                   		  
