

			
                <div class="fieldWrapper">
    <span class="required">{{ form.from_email.errors }}</span>
		<label for="id_from_email"> 
<span class="align-field">Your E-mail:</span><span class="required">*</span></label>
           <span class="align-field">{{ form.from_email }}</span>
    			</div>
			
    		<div class="fieldWrapper">
       <span class="required">{{ form.subject.errors }}</span>
		<label for="id_subject"> 
<span class="align-field">Subject:</span><span class="required">*</span></label>
	<span class="align-field">{{ form.subject }}</span>
    			</div>

    		<div class="fieldWrapper">
    <span class="required">{{ form.msg.errors }}</span>
		<label for="id_msg"> 
<span class="align-field">Message:</span><span class="required">*</span></label>
          <span class="align-field">{{ form.msg }}</span>
    			</div>
    		
