<!DOCTYPE html>

<html class="no-js" lang="en">

<head> 

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{{MEDIA_URL}}site_media/favicon.ico">

 
                         <title>Marakesh Tours</title>
      
                         
    <meta name="description" content="Marakesh tours enables you to create custom and memorable holiday experiences">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Kenyan,Kenya,Honey Moon,Villas,Family Holidays,Group Holidays">
    
    
    
   
    
     <!-- google settings -->
 <meta name="google-site-verification" content="MjTixei5eaKtdStp1gMzLsD8buCE-ywDgAibEfNITgw" />

     
     <!-- bing settings --->
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

<!---styles --->
<!--
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
-->

<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/desktop-styles.css">









<!--- end styles --->
</head>

<body>


        
                  {% block header %}
     
		<div id="menu" class="logo">
 			 Marakesh Tours
   			   </div>
 
                   {% endblock %}
                   
                   
                   {% block nav %}{% endblock %}
   
       
                  


                   {% block content %} {% endblock %}
                   {% block content1 %} {% endblock %}
                   
                   {% block content2 %} {% endblock %}
                   
                   {% block content3 %} {% endblock %}
                   
                   {% block content4 %} {% endblock %}
                   
                   {% block content5 %} {% endblock %}
                   
                   {% block content6 %} {% endblock %}
                   
                   {% block content7 %} {% endblock %}
                   
                   {% block content8 %} {% endblock %}
                   
                   {% block content9 %} {% endblock %}
                   
                   {% block content10 %} {% endblock %}
                   
                       </div>
                         
                   {% block footer %}{% endblock %}
               

{% block js %}
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!--- end comment --->
       
        

               <div class="bottom-footer">
                  
   
               
               <div class="contacts">
           <div class="contacts-title">Contacts Us</div>
             
      <span class="">+254720 905 805</span> <span class="phone">  +254706 836 320</span>
               </div>
               
               <p>
              Botique holiday experiences
               </p> 
       
          
  
  <p><span class="copyrights paragraph distanced">
 &copy; Marakesh Tours. All rights reserved 2014-{% now "Y" %}
  </p>
  
            <div class="back align-center">
       <a  href="#menu"> back to top </a><br/>
          </div>
  
  

                         {% endblock %}

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      


    </body>
</html>
