			{% extends "mobile_core.html" %}
			
			{% block menu %}
		      <div class='top-menu'>
          <a class="align-left current" href="/accounts/index/">Home</a>
              <a class="next tab" href="/places/list/">Places</a>
           <a class="align-right " href="/accounts/faqs/">FAQs</a>
		      </div>
		          {% endblock %}



                        {% block content %}
              <div class="title"> Our Contacts </div>
                        <div class="paragraph">
  <span class="phone_number"><a href="tel:+254752860229">+254 752 860 229 </a></span><br/>
  <span class="phone_number"><a href="tel:+254720905805">+254 720 905 805</a></span><br/>
                        </div>
              
                         {% endblock %}
