                  {% extends "mobile_core.html" %}
                     {% load url from future %}
                     {% load core_tags %} 
                     
                         {% block menu %}
		      <div class='top-menu'>
        <a class="align-left current" href="/accounts/index/">Home</a>
           <a class="next" href="/places/destination/">Places</a>
           <a class="align-right" href="/accounts/faqs/">FAQs</a>
		      </div>
		          {% endblock %}



                        {% block content %}
          
                    
                        {% if about_list %}
                           
                   {% for about in about_list %}
                    <div class=" common spaced">
                   
                     
                
                      <img class="main-Img home"  src ="{{about.main_photo.url}}" />
                            <br/>
                   
                              		
                   <div class="title">What We Do </div>
                
                        <div class="paragraph">
                       {{about.what_we_do|safe|linebreaks}}
                           </div>
                           
                           
                  <div class="simple-title">Who We Are </div>
                
                         <div class="paragraph">
                         {{about.who_we_are|safe}}
                           </div>
                           
                 <div class="simple-title">Our Unique Packages</div>
                
                         
                   <p>{{about.how_it_works|safe|linebreaks}}</p>
                           
                         
                   {% for otherpackage in "packages.otherpackage"|latest:15 %}
                        <div class="paragraph">
                      <p>
  <a class="package-title" href="{% url 'package_details' otherpackage.pk %}">{{ otherpackage.name|safe|title }}</a>
                      </p>
                      
                    <p>{{ otherpackage.overview|safe|linebreaks }}<p>
                    
                      
                         </div>
                         
                         
                       
                       {% endfor %}
                       
                          
                           
                        
     
             
                          {% endfor %}
       
                             </div>
                             
                             {% else %}
      		<div class="paragraph distanced">
      	
       			No content posted yet<br/>
       	       Lorem ipsum mumbo jambo for testing our awesome font
       			    </div>
      
                            {% endif %}
      
      
 <a class="subscribe-btn" href="/places/destination/">View Places </a>
     
     </div>
     
                        
               
                            {% endblock %} 
                            
                            
                            
                            
                            
                            
                            
