<!DOCTYPE html>

<!-- markup for a polygot page: accomodate HTML & XHTML -->
<html id="Marakesh Tours" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head> 


			
                        <title> Marakesh Tours </title>
        
        
      <meta name="description" content="Hotel Kenya enables you to create custom and memorable holiday experiences">
        
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1" user-scalable="no">
        <meta http-equiv="cleartype" content="on">
        
 
    
          <!-- google settings -->
     <meta name="google-site-verification" content="MjTixei5eaKtdStp1gMzLsD8buCE-ywDgAibEfNITgw" />
     
     <!-- bing settings --->
    
    
<meta name="viewport" 
content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<link rel="shortcut icon" href="{{MEDIA_URL}}site_media/favicon.ico">






<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

<link rel="Stylesheet" type="text/css" href="{{MEDIA_URL}}site_media/css/styles.css"/>

<!--[if IEMobile 7]>
<link rel="stylesheet" type="text/css" href="mobile.css"  href="mobile.css" media="screen"  />
<![endif]-->


</head>
   
 <body>
 

			{% block  header %} 
		<div id="back2top" class="logo"> 
 			  Marakesh Tours

			   </div>

			{% endblock %}

		{% block menu %} {% endblock %}


		{% block content %}  {% endblock %}



		{% block content1 %}{% endblock %}


		{% block content2 %}{% endblock %}


		{% block content3 %}{% endblock %}


		{% block content4 %}{% endblock %}


		{% block content5 %}{% endblock %}

 



		   {% block footer %}
    
     		
      
      		
      			
      		    <div class="contacts">
           <div class="contacts-title">Contacts Us</div>
             
         <p>+254720 905 805</p>      <p>+254706 836 320</p>
               </div>
               
               <div class="motto">
              Botique holiday experiences
               </div>
               
               <div class="back2top">
     	<a href="#back2top">back-to-top</a>
      			</div>
      			
      			<div class="bottom-menu">
 <a class="align-left" href="/accounts/index/">Home </a>
     <a class="item-two" href="/places/destination/">Places</a>
   <a class="align-right" href="/accounts/faqs/">FAQs</a>
      			</div> 
      
   <div  id="menu" class="footer-item">
   &copy; Marakesh Tours.All rights reserved 2014-{% now "Y" %}
   </div>
      
{% endblock %}
 <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
   <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>  

</body>
</html>

