			 {% extends 'desktop_core.html' %}
                          
                          	{% block nav %}
               		   <div class="nav center">
               
       		<ul>
	
		<li><a href="/accounts/index/">Home</a></li>
		<li class="current"><a href="/places/destination/">Places</a></li>
		<li><a href="/accounts/faqs/">FAQs</a></li>
	
	
      		</ul>
   	    </div>
                   		{% endblock %}
                   		
                   	       {% block content %}
                   	   <div class="wide-section spaced">
                   <div class="title"> {{place.name}} Details </div>
                         
                   
                        
                
                 <img class="main-Img"  src ="{{place.main_photo.url}}" /><br/>
                            

	               

                     <p>{{place.full_description|safe|linebreaks}}</p>
                     
                    
                     
                     <div class="title"> Packages </div>
                     
                        <div class="centered-content">
                     
                    <p>
{{place.packages.nights}} nights {{place.packages.price.category}} accomodation at K sh. {{place.packages.total_cost}} during the {{place.packages.price.season}}
season
                    </p>
                    
                     <p>{{place.packages.description|safe|linebreaks}}</p>
                     
                        </div>
                     
                     
                     
                        
                   
                     
                     <p>
        <a class="more-details" href="/bookings/bookings/"> Make Booking</a>
                       </p>
                       
                     <div class="title"> More Photos </div>
              <img class="main-Img"  src ="{{place.photos.image.url}}" /><br/>
              <img class="main-Img"  src ="{{place.photos.image_2.url}}" /><br/>
              <img class="main-Img"  src ="{{place.photos.image_3.url}}" /><br/>
              <img class="main-Img"  src ="{{place.photos.image_4.url}}" /><br/>
              <img class="main-Img"  src ="{{place.photos.image_5.url}}" /><br/>
              <img class="main-Img"  src ="{{place.photos.image_6.url}}" /><br/>
                
   <p> <a class="more-details" href="/bookings/bookings/"> Make Booking</a></p>
                      
                        </div>
                    
                   	       
                   	         {% endblock %}
