			   {% extends 'desktop_core.html' %}
                          
                          	{% block nav %}
               		   <div class="nav center">
               
       		<ul>
	
		<li><a href="/accounts/index/">Home</a></li>
		<li class="current"><a href="/places/destination/">Places</a></li>
		<li><a href="/accounts/faqs/">FAQs</a></li>
	
	
      		</ul>
   	    </div>
                   		{% endblock %}
                   		
                   	       {% block content %}
                   	       
                   	     {% if place_list %}
                 
                         <div class="wide-section spaced">
                            {% for place in place_list %}
                    
  
                           <div class="paragraph">
                
                 <img class="main-Img"  src ="{{place.main_photo.url}}" /><br/>
                            
                            
	                 <div class="title">
	       <a href="{% url 'detail' place.pk %}"> {{place.name}}</a>
	               </div> 
	    
	     			<p>
             		{{place.location}}
             			</p>
	               

                     <p>{{place.description|safe|linebreaks}}</p>
                        
                           
                
                       <p>     
         <a class="more-details" href="{% url 'detail' place.pk %}"> more details...</a>
                       </p>
                      
                        
                      </div>
                      
             
                          {% endfor %}
       
                            </div>
      
                            {% endif %}
      

         
     
               
                            {% endblock %} 
                   		
